/* 导入所有样式文件 */
// 初始化文件
@import "./reset.scss";
// 基本样式文件
@import "./base.scss";
// 通用样式文件
@import "./common.scss";


// 电脑端
@media screen and (min-width: 1200px) {
  :root {
    --bg-url: url('@/assets/images/bg/bg-img_1.png');
    // --bg-size: '100% 100%';
  }
  
  


}

// 平板端
@media screen and (min-width: 675px) and (max-width: 1200px) {
  // :root {
  //   --bg-url: url('@/assets/images/bg/bg-img_1.png');
  // }
  :root {
    --bg-url: url('@/assets/images/bg/bg-img_3.png');
  }
}

// 手机端
@media screen and (max-width: 675px) {
  :root {
    --bg-url: url('@/assets/images/bg/bg-img_4.png');
  }
}

body {
  /* 加载背景图 */
  background-image: var(--bg-url);
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: #464646;
  // transform: rotateY(180deg)
}